button, .button {
    background: $purple;
    border: none;
    color: white;
    font-family: inherit;
    padding: $space ($space * 1.5);
    border-radius: 2px;
    margin: $space 0 0;
    display: inline-block;
}