aside {
    background: url('https://oo-prod.s3.amazonaws.com/public/artworks/2018/07/09/217ac8f72aafd3e5/artworkRaster/original.png');
    background-position: bottom;
    background-size: cover;
    header {
        color: white;
    }
}