section#home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    p {
        font-size: 2.5rem;
        text-align: left;
    }
    button {
        font-size: 1.5rem;
    }
}