aside {
    background: url('https://images.unsplash.com/photo-1514454923228-7ef54f9251c9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ce8e83be8aacf009066f570db1a9d3b&auto=format&fit=crop&w=668&q=80');
    background-position: center;
    background-size: cover;
}