@import './layout/layout';
@import './typography/typography';
@import './form/form';
@import './components/components';

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
